astropy==6.0.0
astropy-iers-data==0.2024.2.5.0.30.52
contourpy==1.2.0
cycler==0.12.1
fonttools==4.48.1
kiwisolver==1.4.5
llvmlite==0.42.0
matplotlib==3.8.2
mypy==1.8.0
mypy-extensions==1.0.0
numba==0.59.0
numpy==1.26.4
packaging==23.2
pillow==10.2.0
pyerfa==2.0.1.1
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
six==1.16.0
tomli==2.0.1
typing_extensions==4.9.0
